.toggleSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 48px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-gray);
  border-radius: 38px;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

.switch input:checked + .slider {
  background-color: var(--lama-purple);
}

.switch input:checked + .slider:before {
  transform: translateX(50px);
}

.label {
  margin-bottom: 0 !important;
}
