.projectSection {
  display: flex;
  flex-direction: column;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}

.title {
  font-size: 74px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
  color: var(--lama-purple);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 62px 84px;
  width: 100%;
}
