@import url("../../styles/variables.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  color: var(--lama-purple);
  font-size: 38px;
  line-height: 48px;
  font-weight: 800;
  font-family: var(--font-plus);
}
